
.star-rating {
  display: flex;
  margin: 10em;
  justify-content: center;
}

.star-rating .star {
  font-size: 3em;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: gold;
}

.off {
  color: whitesmoke;
}